<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.viktoriia.architecture.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.NoActionBar">

        <activity
            android:name=".ui.activity.TestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>